{{ header }}
{{ column_left }}
<div id="content">
	<div class="ms-wrapper">
		<div class="ms-container">
			<div class="ms-alert ms-alert-primary" id="newVersionAlert" style="display: none; margin-bottom: 2rem;"></div>
			<div class="ms-page">
				<span class="ms-page__title">Security Settings</span>
				<div class="ms-page-row">
					<div class="ms-page-col">
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title" id="admin_panel_SecurityCheck">
									<span class="ms-page-box__title-icon">
										<img src="view/image/messor/icon-login.svg" alt="">
									</span>
									<span class="ms-page-box__title-txt" data-has-translation="true">
										ss_protect_admin_dir
									</span>
								</div>
								<div class="ms-page-box__content ms-page-box__content-txt">
									<p data-has-translation="true">
										ss_protect_admin_dir_disc
									</p>
									<a data-has-translation="true" href="https://messor.network/SecuritySettings/OpenCart/#ProtectingAdmin" target="_blank" class="ms-btn ms-btn-primary">
										ss_instruction
									</a>
								</div>
							</div>
						</div>
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title" id="admin_login_SecurityCheck">
									<span class="ms-page-box__title-icon">
										<img src="view/image/messor/icon-avatar.svg" alt="">
									</span>
									<span data-has-translation="true" class="ms-page-box__title-txt">
										ss_change_login
									</span>
									<a style="position: relative;" class="ms-tooltip ms-tooltip-question" data-tippy-content="Стандартный логин и пароль подвергает опасности Ваш сайт">
										<span class="tooltip-container">
											<span class="tooltip-content" data-has-translation="true">
												ss_i_change_login
											</span>
										</span>
									</a>
								</div>
								<div class="ms-page-box__content">
									<table>
										<thead>
											<tr>
												<th data-has-translation="true">
													ss_change_login_group
												</th>
												<th data-has-translation="true" class="light-bg">
													ss_change_login_login
												</th>
												<th data-has-translation="true">
													ss_change_login_name
												</th>
												<th data-has-translation="true" class="text-center">
													ss_change_login_edit
												</th>
											</tr>
										</thead>
										<tbody id="userAccounts"></tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title" id="result_SecurityCheck">
									<span class="ms-page-box__title-icon">
										<img src="view/image/messor/icon-file.svg" alt="">
									</span>
									<span data-has-translation="true" class="ms-page-box__title-txt">
										ss_check_perm
									</span>
									<a style="position: relative;" class="ms-tooltip ms-tooltip-question" data-tippy-content="Стандартный логин и пароль подвергает опасности Ваш сайт">
										<span class="tooltip-container">
											<span class="tooltip-content" data-has-translation="true">
												ss_i_check_perm
											</span>
										</span>
									</a>
								</div>
								<div class="ms-page-box__content">
									<table>
										<thead>
											<tr>
												<th data-has-translation="true">
													ss_path
												</th>
												<th data-has-translation="true" class="light-bg text-center">
													ss_check_permissions
												</th>
											</tr>
										</thead>
										<tbody id="pathsPermission"></tbody>
									</table>
								</div>
								<div class="ms-page-box__controls ms-page-box__controls-start">
									<a data-has-translation="true" href="https://messor.network/SecuritySettings/OpenCart/#permissions" target="_blank" class="ms-btn ms-btn-primary">
										ss_instruction
									</a>
								</div>
							</div>
						</div>
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title ms-page-box__title--update" id="last_version_SecurityCheck">
									<span class="ms-page-box__title-icon">
										<img src="view/image/messor/icon-opencart.svg" alt="">
									</span>
									<span class="ms-page-box__title-txt">
										<a data-has-translation="true" style="color: #2f2e37">ss_update_version</a>
										<span class="ms-page-box__title-sub">
											<span data-has-dependency="last_version">
												<a data-has-translation="true">ss_update_aval_version</a>
												<a data-has-value="true">new_version</a>
											</span>
											<a data-has-dependency="!last_version" data-has-translation="true">
												ss_update_last_version
											</a>
										</span>
									</span>
									<a data-has-dependency="last_version" data-has-translation="true" href="https://www.opencart.com/index.php?route=cms/download" target="_blank" class="ms-btn ms-btn-primary">
										ss_update
									</a>
								</div>
							</div>
						</div>
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title" id="install_dir_SecurityCheck">
									<span class="ms-page-box__title-icon">
										<img src="view/image/messor/icon-folder.svg" alt="">
									</span>
									<span data-has-translation="true" class="ms-page-box__title-txt">
										ss_update_del_dir
									</span>
								</div>
								<div class="ms-page-box__content ms-page-box__content-txt">
									<p data-has-translation="true">
										ss_update_del_dir_disc
									</p>
									<a data-has-translation="true" href="https://messor.network/SecuritySettings/OpenCart/#install_folder" target="_blank" class="ms-btn ms-btn-primary">
										ss_instruction
									</a>
								</div>
							</div>
						</div>
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title" id="prefix_or_show_error_SecurityCheck">
									<span class="ms-page-box__title-icon">
										<img src="view/image/messor/icon-settings-wheel.svg" alt="">
									</span>
									<span data-has-translation="true" class="ms-page-box__title-txt">
										ss_settings
									</span>
								</div>
								<div class="ms-page-box__content">
									<table>
										<tbody>
											<tr>
												<td data-has-translation="true">
													ss_db_pref
												</td>
												<td id="prefix_SecurityCheck"></td>
											</tr>
											<tr>
												<td data-has-translation="true">
													ss_disable_error
												</td>
												<td id="show_error_SecurityCheck"></td>
											</tr>
											<tr>
												<td data-has-translation="true">
													ss_storage
												</td>
												<td id="storage_SecurityCheck"></td>
											</tr>
											<tr>
												<td data-has-translation="true">
													ss_version_messor
												</td>
												<td id="new_version_messor_has_SecurityCheck"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="ms-page-col">
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title">
									<span data-has-translation="true" class="ms-page-box__title-txt">ss_status</span>
								</div>
								<div class="ms-page-box__content">
									<div class="ms-page-circle-graph ms-page-circle-graph--disabled">
										<svg viewbox="0 0 36 36" class="circular-chart">
											<path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
											<path class="circle" stroke-dasharray="0, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
											<text x="18" y="21" class="percentage-hint">
												<tspan data-has-value="true">count</tspan>/6
											</text>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="messor-plugin-dictionary" style="display:none">{{ language }}</div>
	<input type="hidden" id="user_token" value={{ user_token }}>
	<input type="hidden" id="api_url" value={{ path_api }}>
</div>
<div class="preloader-container">
	<div class="loader-card">
		<div class="loader-ring">
			<div class="loader-ring-light"></div>
			<div class="loader-ring-track"></div>
		</div>
		<span data-has-translation="true">preloader_text</span>
	</div>
</div>
{% for script in scripts %}
	<script src={{ script }} type="text/javascript"></script>
{% endfor %}
{{ footer }}
