{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a href="{{ options }}" data-toggle="tooltip" title="Настройки" class="btn btn-primary">
					<i class="fa fa-cogs"></i>
				</a>
				<a href="{{ logs }}" data-toggle="tooltip" title="Лог" class="btn btn-warning">
					<i class="fa fa-file-text"></i>
				</a>
				<a href="{{ update }}" data-toggle="tooltip" title="обновить" class="btn btn-success">
					<i class="fa fa-refresh"></i>
				</a>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
					<i class="fa fa-reply"></i>
				</a>
			</div>

			<h1>{{ heading_title }}</h1>

			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
		{% for file in file_clean %}
			<div class="alert alert-danger" role="alert">
				Превышен размер файла &nbsp&nbsp {{ file }}  <a href="{{ clean }}&file={{ file }}" data-toggle="tooltip" title="Очистить" class="pull-right btn btn-danger">Очистить</a>
			</div>
		{% endfor %}
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="tile tile-primary">
					<div class="tile-heading">Атак заблокировано
					</div>
					<div class="tile-body">
						<i class="fa fa-lock"></i>
						<h2 class="pull-right">{{ list_archive|length + list_sync|length  }}</h2>
					</div>
					<div class="tile-footer">
						<a href={{ attack_table }}>подробнее...</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="tile tile-primary">
					<div class="tile-heading">Список синхронизации
					</div>
					<div class="tile-body">
						<i class="fa fa-refresh"></i>
						<h2 class="pull-right">{{ list_sync|length }}</h2>
					</div>
					<div class="tile-footer">
						<a href={{ sync_table }}>подробнее...</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="tile tile-primary">
					<div class="tile-heading">IP в базе
					</div>
					<div class="tile-body">
						<i class="fa fa-user"></i>
						<h2 class="pull-right">{{ database_ip|length }}</h2>
					</div>
					<div class="tile-footer">
						<a href={{ ip_base_table }}>подробнее...</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="tile tile-primary">
					<div class="tile-heading">Сервера</div>
					<div class="tile-body">
						<i class="fa fa-server"></i>
						<h2 class="pull-right">{{ servers|length }}</h2>
					</div>
					<div class="tile-footer">
						<a href={{ servers_table }}>подробнее...</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="tile tile-primary">
					<div class="tile-heading">Белые IP адреса</div>
					<div class="tile-body">
						<i class="fa fa-check"></i>
						<h2 class="pull-right">{{ ip_white_list|length }}</h2>
					</div>
					<div class="tile-footer">
						<a href={{ ip_white }}>Редактировать</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="tile tile-primary">
					<div class="tile-heading">Черные IP адреса</div>
					<div class="tile-body">
						<i class="fa fa-close"></i>
						<h2 class="pull-right">{{ ip_black_list|length }}</h2>
					</div>
					<div class="tile-footer">
						<a href={{ ip_black }}>Редактировать</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="tile tile-primary">
					<div class="tile-heading">Информация о плагине</div>
					<div class="tile-body">
						<i class="fa fa-cubes"></i>
						<h3 class="pull-right">Версия плагина: 0.1</h3>
					</div>
					<div class="tile-footer">
						<a href={{ about }}>Подробнее</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="tile tile-primary">
					<div class="tile-heading">Информация о пире</div>
					<div class="tile-body">
						<i class="fa fa-user-circle-o"></i>
						<h2 class="pull-right">{{ conf_peer.Admin_login }}</h2>
					</div>
					<div class="tile-footer">
						<a href={{ about_of_peer }}>Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}
