{{ header }}
{{ column_left }}
<div id="content">
	<div class="ms-wrapper">
		<div class="ms-container">
			<div class="ms-page">
				<div class="ms-page-row">
					<div class="ms-page-col">
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title ms-page-box__title-m-bordered">
									<span class="ms-page-box__title-icon">
										<img src="img/icons/icon-shield.svg" alt="">
									</span>
									<span class="ms-page-box__title-txt">List blocked ip or network</span>
								</div>
								<div class="ms-page-box__content ms-page-box__content-padding">
									<table class="ms-table-columned">
										<thead>
											<tr>
												<th class="text-center">IP</th>
												<th class="text-center">Days</th>
												<th class="text-center">Action</th>
											</tr>
										</thead>
										<tbody>
										{% for ip, day in ip_list  %}
											<tr>
												<td data-td-title="IP" class="text-center ms-table-columned-half">{{ ip }}</td>
												<td data-td-title="Days" class="text-center ms-table-columned-half">{{ day }}</td>
												<td class="text-center ms-table-columned-button">
													<a  data-ip={{ ip }} class="ajax-remove ms-btn-icon ms-btn-icon-with-txt ms-btn-icon-with-txt-responsive ms-btn-icon-md ms-btn-icon-remove">
														<svg>
															<use xlink:href="#icon-remove"></use>
														</svg>
														<span class="ms-btn-icon-with-txt__title">Delete</span>
													</a>
												</td>
											</tr>
										{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						{% if num_page > 1 %}
							<ul class="ms-pagination">
							{% if  prev == "disabled" %}
								<li class="ms-pagination__item ms-pagination__item-prev disabled">
									<a  class="ms-pagination__link">
										<svg>
											<use xlink:href="#icon-arrow"></use>
										</svg>
									</a>
								</li>
								{% else %}
								<li class="ms-pagination__item ms-pagination__item-prev">
									<a href="{{ prev }}" class="ajax_pagination ms-pagination__link">
										<svg>
											<use xlink:href="#icon-arrow"></use>
										</svg>
									</a>
								</li>
							{% endif %}
								{% for num, url in urls_pagination %}
									{% if url=="disabled" %}
										<li class="ms-pagination__item current">
											<a class="ms-pagination__link">{{ num }}</a>
										</li>
									{% else %}
										<li class="ms-pagination__item">
											<a href="{{ url }}" class="ajax_pagination ms-pagination__link">{{ num }}</a>
										</li>
									{% endif %}
								{% endfor %}
							{% if next == "disabled" %}
								<li class="ms-pagination__item ms-pagination__item-next disabled">
									<a class="ms-pagination__link">
										<svg>
											<use xlink:href="#icon-arrow"></use>
										</svg>
									</a>
								</li>
							{% else %}
								<li class="ms-pagination__item ms-pagination__item-next">
										<a href="{{ next }}" class="ms-pagination__link ajax_pagination">
											<svg>
												<use xlink:href="#icon-arrow"></use>
											</svg>
										</a>
									</li>
								{% endif %}
							</ul>
						{% endif %}
					</div>
					<div class="ms-page-col">
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title ms-page-box__title-m-bordered">
									<span class="ms-page-box__title-icon">
										<img src="img/icons/icon-ip.svg" alt="">
									</span>
									<span class="ms-page-box__title-txt">Add IP</span>
								</div>
								<div class="ms-page-box__content ms-page-box__content-padding">
									<div class="ms-page-box__form">
										{% for i in 1..count_add_ip %}
										<div class="ms-page-box__form-row">
											<div class="ms-form">
												<div class="ms-form__col">
													<span class="ms-form-control__label">Ip Adress:</span>
													<input name="ip{{i}}" class="ajax-valid ms-form-control" value="">
												</div>
												<div class="ms-form__col">
													<span class="ms-form-control__label">Time:</span>
													<select name="time{{i}}" class="ms-form-control">
													{% for item in time %}
														<option  value="{{ item }}">{{ item }}</option>
													{% endfor %}
													</select>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
								<div class="ms-page-box__controls ms-page-box__controls-end">
									<a class="ajax-add ms-btn ms-btn-primary">Add IP</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<defs>
		<symbol id="icon-remove" viewbox="0 0 10 15">
			<path d="M9.9827 3.96387L9.65891 2.98242C9.59531 2.78613 9.41028 2.65137 9.20502 2.65137H0.792182C0.58692 2.65137 0.404787 2.7832 0.338294 2.98242L0.0173915 3.96387C-0.0548838 4.18652 0.107013 4.41504 0.338294 4.41504H9.6618C9.89308 4.41504 10.055 4.18652 9.9827 3.96387Z"/>
			<path d="M1.5208 14.4082C1.55838 14.7451 1.83881 15 2.17417 15H7.77405C8.10941 15 8.38984 14.7451 8.42742 14.4082L9.42771 5.29395H0.520508L1.5208 14.4082Z"/>
			<path d="M4.12804 1.25977C4.12804 1.04883 4.29572 0.878906 4.50388 0.878906H5.7817C5.98985 0.878906 6.15753 1.04883 6.15753 1.25977V1.77246H7.02484V1.25977C7.02484 0.56543 6.46687 0 5.7817 0H4.50388C3.81871 0 3.26074 0.56543 3.26074 1.25977V1.77246H4.12804V1.25977Z"/>
		</symbol>
		<symbol id="icon-arrow" viewbox="0 0 9 5">
			<path d="M0 0.952381L4.04762 5L8.09524 0.952382L7.14286 4.90664e-07L4.04762 3.09524L0.952381 0L0 0.952381Z"/>
		</symbol>
	</defs>
</svg>
{{ footer }}
<script type="text/javascript"><!--
$('.ajax-remove').on('click', function() {
	  const result = confirm('Delete?');
		var ip = $(this).data('ip');
	  $.ajax({
			url: 'index.php?route=extension/module/messor/ipBlackWhiteList&user_token={{ user_token }}&type={{ type }} ',
			type: 'POST',
			data: '&reload=refresh&ip='+ip,
			dataType: 'html',
			success: function (data) {
				$('#content').replaceWith(data);
			}
		});
});
$('.ajax-valid').on('focusin', function() {
			$(this).removeAttr('style');
});

$('.ajax-valid').on('focusout', function() {
	var ip = $(this).val();
	var object = this;
	$.ajax({
	url: 'index.php?route=extension/module/messor/validationIp&user_token={{ user_token }}&type={{ type }} ',
	type: 'POST',
	data: '&ip='+ip,
	dataType: 'json',
	success: function (data) {
		if(data.status == "ERROR"){
			$(object).css('border-color', 'red');
			$(object).addClass('blocked');
		}
		if(data.status == "OK"){
			$(object).removeClass('blocked');
			}
		}
	});
});


$(document).ajaxComplete(function () {
	if ($('.blocked').length != 0) {
		$(".ajax-add").attr("disabled", true);
	} else {
		$(".ajax-add").removeAttr("disabled");
	}  
});


$('.ajax-add').on('click', function() {
		var dataIp = $('input').serialize();
		var dataTime = $('select').serialize();
	  $.ajax({
			url: 'index.php?route=extension/module/messor/ipBlackWhiteList&user_token={{ user_token }}&type={{ type }} ',
			type: 'POST',
			data: '&reload=refresh&'+dataIp+'&'+dataTime,
			dataType: 'html',
			success: function (data) {
				$('#content').replaceWith(data);
				$('input').val('');
			}
		});
});

$('.ajax_pagination').click(function(e){
e.preventDefault();
href = $(this).attr('href');
	$.ajax({
	url: href,
	type: 'POST',
	data: '&reload=refresh',
	dataType: 'html',
	success: function (data) {
		$('#content').replaceWith(data);
	}
	});
}) ;
</script>