{{ header }}
{{ column_left }}
  <div id="content">
        <div id="loading" class="ms-wrapper" style="display: none;">
            <div class="ms-container">
                <div class="ms-loading-page">
                    <span class="ms-loading-page__icon">
                        <img src="view/image/messor/icon-loading.svg" alt="">
                    </span>
                    <span class="ms-loading-page__title" data-translation-key="fscheck_scan"></span>
                </div>
            </div>
        </div>
        <div class="ms-wrapper">
            <div class="ms-container">
                <div class="ms-alert ms-alert-primary" id="newVersionAlert"></div>
                <div class="ms-settings-page" id="fileSystemCheckMain">
                    <div class="ms-settings-page__content">
                        <div>
                            <div class="ms-title">
                                <span class="h1">File System Check</span>
                                <p data-translation-key="fscheck_descript"></p>
                            </div>
                            <span class="ms-search__title">Path</span>
                            <div class="ms-search">
                                <input
                                    id="fscheckScanPath"
                                    type="search"
                                    class="ms-search__input"
                                    value="/">
                                <a
                                    id="fscheckScan"
                                    class="ms-search__btn"
                                    data-translation-key="fscheck_scan"></a>
                            </div>
                            <div class="ms-settings-page__form">
                                <div class="ms-settings-page__form-title">
                                    <a
                                        data-translation-key="fscheck_setting_professional"
                                        data-toggled-element-id="professionSettingsBlock"
                                        class="ms-settings-page__form-btn">
                                    </a>
                                </div>
                                <div class="ms-settings-page__form-content" style="display: none;" id="professionSettingsBlock">
                                    <div class="ms-settings-page__group">
                                        <span
                                            data-translation-key="fscheck_setting_global_text"
                                            class="ms-settings-page__group-title">
                                        </span>
                                        <div class="ms-settings-page__group-col ms-settings-page__group-col-fluid">
                                            <div class="ms-settings-page__group-item">
                                                <div class="ms-settings-page__group-label">
                                                    <label
                                                        data-translation-key="fscheck_setting_exclude_scan_file"
                                                        class="ms-settings-page__group-label-txt">
                                                    </label>
                                                    <a style="position: relative;" class="ms-tooltip ms-tooltip-question">
                                                        <span class="tooltip-container">
                                                            <span class="tooltip-content" data-translation-key="fscheck_i_exclude_file_scan">
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <textarea
                                                    id="excludedFiles"
                                                    class="ms-settings-page__group-input ms-settings-page__group-input-high resizable-textarea"
                                                    style="height: 44px;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-settings-page__media">
                        <div class="ms-settings-page__media-wrapper">
                            <img src="view/image/messor/fsccheck.png" alt="">
                            <span class="ms-settings-page__media-title">File System Check</span>
                        </div>
                    </div>
                </div>
                <div class="ms-page" id="fileSystemCheckResult" style="display: none;">
                    <div style="display: flex;
                        flex-direction: row;
                        align-content: center;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 40px;">
                        <!-- <button class="fsc-result__back-button" id="fileSystemCheckResultBackButton">
                            <span>&#60;</span>
                        </button> -->
                        <span class="ms-page__title" style="margin-bottom: 0 !important;">File Check Result</span>
                        <button
                            class="result-page__close-button svelte-1h7lz0z"
                            style="margin-bottom: 0 !important;"
                            title="Close"
                            type="button"
                            id="fileSystemCheckResultBackButton">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-container ms-page-cards-slider swiper-container-initialized swiper-container-horizontal">
                        <div aria-live="polite" class="ms-page-box__content statistic-cards-container" id="statisticTableBody">

                            <!-- <div class="swiper-slide swiper-slide-active" role="group">
                                <div class="ms-page-cards-slider__item">
                                    <span class="ms-page-cards-slider__number">
                                        2068
                                    </span>
                                    <span class="ms-page-cards-slider__title">
                                        Атак заблокировано
                                    </span>
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <div class="ms-page-row">
                        <div class="ms-page-col">
                            <div class="ms-page-box">
                                <div class="ms-page-box__item">
                                    <div class="ms-page-box__title">
                                        <span class="ms-page-box__title-icon">
                                            <img src="view/image/messor/icon-file.svg" alt="">
                                        </span>
                                        <span
                                            data-translation-key="fscheck_bad_permision"
                                            class="ms-page-box__title-txt">
                                        </span>
                                    </div>
                                    <div class="ms-page-box__content">
                                        <table>
                                            <tbody id="checkResultComtainer">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <ul class="ms-pagination" id="paginationContainer">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="messor-plugin-dictionary" style="display:none">{{ language }}</div>
<input type="hidden" id="user_token" value={{ user_token }}>
<input type="hidden" id="api_url" value={{ path_api }}>
<div class="preloader-container">
    <div class="loader-card">
        <div class="loader-ring">
            <div class="loader-ring-light"></div>
            <div class="loader-ring-track"></div>
        </div>
        <span data-has-translation="true">preloader_text</span>
    </div>
</div>
{% for script in scripts %}
   <script src={{ script }} type="text/javascript"></script>
{% endfor %}
{{ footer }}