{{ header }}{{ column_left }}
<div id="content">
	<div class="ms-wrapper">
		<div class="ms-container">
			<div class="ms-page">
				<span class="ms-page__title">File Check Result</span>
				<div class="ms-page-row">
					<div class="ms-page-col">
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title">
									<span class="ms-page-box__title-icon">
										<img src="view/image/messor/icons/icon-file.svg" alt="">
									</span>
									<span class="ms-page-box__title-txt">{{fscheck_bad_permision}}</span>
								</div>
								<div class="ms-page-box__content">
									<table>
										<tbody>
										{% for item in result %}
											{% for key, value in item %}
												<tr>
													<td>{{key}}</td>
													<td class="text-center"><span class="ms-tag ms-tag-danger">{{ value }}</span></td>
												</tr>
											{% endfor %}
										{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="ms-page-col">
						<div class="ms-page-box">
							<div class="ms-page-box__item">
								<div class="ms-page-box__title">
									<span class="ms-page-box__title-icon">
										<img src="view/image/messor/icons/icon-stats.svg" alt="">
									</span>
									<span class="ms-page-box__title-txt">{{fscheck_statistic}}</span>
								</div>
								<div class="ms-page-box__content">
									<table>
										<tbody>
											<tr>
												<td>{{fscheck_checked_files}}
												</td>
												<td class="text-center">{{statistic.general}}</td>
											</tr>
											<tr>
												<td>{{fscheck_sym_links}}
												</td>
												<td class="text-center">{{statistic.link}}</td>
											</tr>
											<tr>
												<td>{{fscheck_dir}}
												</td>
												<td class="text-center">{{statistic.dir}}</td>
											</tr>
											<tr>
												<td>{{fscheck_files}}
												</td>
												<td class="text-center">{{statistic.files}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}
