{{ header }}
{{ column_left }}
<div id="content"><div id="app"></div></div>
<div id="messor-plugin-dictionary" style="display:none">{{ language }}</div>
<input type="hidden" id="user_token" value={{ user_token }}>
<input type="hidden" id="api_url" value={{ path_api }}>
{% for script in scripts %}
   <script src={{ script }} type="text/javascript"></script>
{% endfor %}
{{ footer }}
